*{
    background-color: greenyellow;
    padding: 0;
    margin: 0;
}
.header{
    text-align: center;
    color: rgb(67, 14, 121);
    padding: 20px;
}
.images{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.box{

    text-align: center;
    cursor: pointer;
    margin: 5px;
    flex-basis: 20%;
}
@media screen and (max-width:800px) {
    .box{
        flex-basis: 40%;
    }
    
}
@media screen and (max-width:500px) {
    .box{
        flex-basis: 80%;
    }
    
}
.box:hover{
    color: blue;
}